<!doctype html>
<html lang="en">

<head>
	<title>Picabia Demo: Sprites</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style>
		@keyframes pulse{0%{color:rgb(54, 53, 74);opacity:0.5}80%{color:rgb(0,0,0);opacity:1}100%{color: rgb(54, 53, 74);opacity:0.8}}
    body{margin:0;padding:0;background:rgb(33, 33, 33);font-family:Helvetica,Helvetica,sans-serif;}
    #loading{position:absolute;display:flex;align-items:center;justify-content:center;width:100vw;height:100vh;font-size:25px;text-shadow:0px 0px 5px rgba(60,60,60,0.5);animation:pulse 1.5s infinite;}
	</style>
</head>

<body>
	<div id="loading">loading</div>

	<div class="app">
		<section id="app-container"></section>
	</div>
</body>

</html>
